.h600px{
  height: 600px;
}
.example-card {
  max-width: 200px;
  padding: 10px
}
.mat-drawer {
  height: 100%;
}
.spacer {
  flex: 1 1 auto;
}
.marginright10pixel{
  margin-right: 10px;
}
.mat-card-image {
  width: 100%;
  margin: 0;
}
